.MemoryCard {
    display: inline-block;
    width: 150px;
    height: 80px;
    margin: 3px;
    border-radius: 5px;
    border: 3px solid navy;
    cursor: pointer;
    background: repeating-linear-gradient(
        45deg,
        #606DBC,
        #606DBC 10px,
        #465298 10px,
        #465298 20px
    );

}